
.home-main-header{
    margin-bottom: 40px;
    margin-top: 10px;

    .row .home-img-session {
        height : 100%;
        width : 100%;
    
        .home-ad-event-pic img , .home-ad-left-right-arrow img , .home-ad-ves_logo img{
            width : 140px;
        }
    
        .home-ad-left-right-arrow img{
            margin-left : 30px;
        }
    
    }
}


.home-main-header .row .home-content .home-main-title{
    font-weight: 500;
    font-size: 2.7em;
} 

.home-main-header .row .home-content .home-description{
    font-size : 0.98em;
}


@media (max-width: 992px){
    .home-main-header .row .home-content {
        padding : 0px 5%;
    }

    .home-main-header .row .home-img-session{
        padding : 0px 10px;

        .home-ad-event-pic , .home-ad-left-right-arrow , .home-ad-ves_logo{
            width : 33%;
        }
    
        .home-ad-event-pic img , .home-ad-left-right-arrow img , .home-ad-ves_logo img{
            width : 100%;
        }

        .home-ad-left-right-arrow img{
            position : relative;
            left :  4%;
            margin : 0;
        }
    }

    .home-main-header .row .home-content .home-main-title{
        font-size: 2.3em;
    } 
}
