.home-main-header .row .home-img-session {
    height : 100%;

    .home-ad-event-pic img , .home-ad-left-right-arrow img , .home-ad-ves_logo img{
        width : 150px;
    }

    .home-ad-left-right-arrow img{
        margin-left : 30px;
    }

}

.home-main-header .row .home-content .home-main-title{
    font-weight: 600;
    font-size: 42px;
} 

 