#my-navbar{
	padding: 6px 3.5%;
}

.my-login-button {
	padding: 7px 26px !important;
    font-size: 14px;
    font-weight: 700;
    color: white !important;
    border-radius: 40px;
    border: none;
    box-shadow: 0 4px 10px 8px rgba(0, 0, 0, 0.05), 0 6px 20px 2px rgba(0, 0, 0, 0.04);
}

#login-li{
	margin-right : 15px;
}

#VES_logo{
	width : 36px;
}

.navbar-brand{
	font-size: 18px;
    font-weight: 600;
}

#vesit-logo{
	margin-left : 3px;
	font-family: 'Sriracha', cursive;
	font-size : 20px;
}