.society-header-session {
    margin : 20px 6.5%;
    position: relative;
    text-align: center;

    .cover-img-of-society{
        width: 100%;
        height: 300px;
        border-radius: 12px;
        object-fit: cover;
        object-position: center;
    }

    .society-page-society-icon{
        position: absolute;
        top: 249px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
    }

    .society-contents-div{
        margin-top : 60px;
        margin-bottom : 10px;

        .society-description{
            margin: 0 18%;
            text-align: center;
            font-size: 0.95em;
            margin-bottom: 10px;

            i{
                font-weight: 500;
                color: blue;
                margin-right: 0px;
                position: relative;
                top: 1px;
            }
        }
        
        .society-page-society-name{
            font-weight : 600;
            font-size : 2em;
            text-align: center;
            margin-bottom : 3px;
        }

    
        .faculty-and-society-incharge-session a{
            margin: 0px 10px 12px;
            padding: 8px 18px;
            background: #dcdcdc78;
            border-radius: 8px;
            text-decoration: none;
            color: black;
            font-size: 12px;

            .society-incharge-and-chairperson-image{
                width : 40px;
                height : 40px;
                border-radius : 20px;
                object-fit: cover;
                object-position: start;
            }

            .incharge-name , .role-of-person{
                margin-bottom : 0px;
                margin-left : 10px; 
            }

            .incharge-name{
                font-size : 13px;
                font-weight : 600;
                text-align: left;
            }

            .event-and-members-images{
                width : 40px;
                height : 40px;
                border-radius : 8px;
                object-fit: cover;
                object-position: start;
            }
        }

        .members-and-event-session{
            margin : 45px 0px 0px;

            .members-and-event-number{
                font-weight : 600;
                font-size : 14px;
                margin : 0px;
                margin-top : 4px;
            }

            .property-of-above{
                font-size : 12px;
                font-weight : 500;
                margin : 0px;
            }
        }

        .faculty-and-society-incharge-session .profile-to-society-link{
            margin-bottom : 0px;
            padding: 8px 18px;
            background: #dededeeb;
            border-radius: 0px;
            text-decoration: none;
            color: black;
            font-size: 14px;
        }

        .total-members-and-total-events-session{
            

            .society-page-see-all-members-button {
                border-radius : 0px;
                background : #1E6AD9;
                border : none;
                font-weight : 600;
                font-size : 0.9em;
                color : white;
                padding : 10px;
                margin : 0px 10px;
    
                i{
                    margin-right : 6px;
                    font-size : 14px;
                }
            }
        }

        
    }
}

.setting-button-div{
    margin : 10px 0px;

    .settings-button { 
        padding: 8px 26px;
        background: #0000ffab;
        border: none;
        font-weight: 500;
        font-size: 16px;
        border-radius: 25px;

        i{
            color: white;
            font-size: 18px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
    }
}

// for society content-session

// About Society _page
.society-page-navigation-session{
    margin : 0px 6.5% 50px;

    #pills-tab{
        border-bottom: 1px solid #d1d1d1ba;
        width: fit-content;
    }
    
    #pills-tab .nav-item a {
        text-decoration : none;
        border : none;
        color : black;
        background : white;
        outline : none;
        border-radius : 0px;
        font-size: 15px;
        border-bottom : 3px solid white;
    }

    #pills-tab .nav-item a.active{
        color: black;
        background: #f6f6f6eb;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid #e8e8e847;    
        outline : none;
        border-bottom : 3px solid blue;
    }
}

.about-society-session{
    margin-top : 50px; 
    margin-bottom : 30px;

    .society-iamges-and-description{
        text-align : center;

        img{
            width : 50%;
            height : 50%;
            object-fit: cover;
        }

        #society-main-text{
            margin-top : 8px;
            font-style: italic;
            font-weight : 600;
            font-size : 1.1em;
        }
    }

    p{
         font-size : 1em;
         margin : 18px auto 40px;
    }

    h2 {
        font-weight : 500;
        font-size : 2em;
        text-decoration: underline;
        font-style: italic;
    }
} 

// All-Members session

.about-members-session{
    .our-navigation-of-members .members-navigation-buttons{
        border : none;
        text-align : start;
        outline : none;
        border-radius : 0px;
        background : white;
        color : black;
        font-size : 15px;
        position : relative;
    }

    .our-navigation-of-members .all-members-nev-buttons-div{
        border: 1px solid #d3d3d3bf;
        margin-bottom: 8px;
    }

    .our-navigation-of-members .members-navigation-buttons.active{
        color: black;
        background: #c7c7c759;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid #e8e8e847;
    }

    .our-navigation-of-members .members-navigation-buttons.active:before{
        background : blue;
        position: absolute;
        height : 41px;
        top: -2px;
        bottom: 0;
        left: -1px;
        z-index: 1;
        width: 4px;
        pointer-events: none;
        content: "";
    }
} 


.card{
    margin-bottom : 15px;
    
    img{
        width : 100%;
        height : 180px;
        object-fit: cover;
        object-position: top;
    }

    #card-profile-image{
        height : 224px;
    }
    
    .card-body{
        padding : 14px 18px;
    }
    
    .card-title {
        font-weight : 500;
        font-size : 19px;
    }

    .second-card-text{
        font-weight : 500;
    }
    
    .card-text{
        margin : 0px;
        font-size : 14px;
        

        i{
            position  :relative;
            top : 2px;
            color : red;
            margin-right : 2px;
        }
    }
    
    button{
        margin-top : 10px;
        font-weight: 500;
        border : none;
        outline : none;
        padding : 4px 15px;
        background : #1E6AD9;
    }
}




// Event-statistics session

.event-statistics-session .row .col-12{
    padding : 15px;
}

.event-statistics-card{
    border : 1px solid #969696e6;
    width : 100%;

    .card-title{
        font-weight: 550;
        font-size: 1.3em;
        color: #2C27C0;
    }

    .card-text{
        font-size : 15px;
    }

    .date-and-time-session{
        margin-bottom : 8px;

        span{
            margin-right : 10px;
            font-weight : 600;
            font-size : 14px;
        }

        i{
            color: blue;
            font-weight: 500;
            font-size : 14px;
        }
    }

    .all-registrations-class-wise{
        margin-bottom : 5px;

        span{
            padding: 4px 8px;
            width: 66px;
            display: inline-block;
            border-radius: 3px;
            min-height: 20px;
            font-size: 13px;
            font-weight: 600;
            outline: none;
            border: none;
            margin-right: 5px;
            margin-bottom: 5px;
            color: black;
            background: #e2e6ea;
        }
    }

    .total-registrations-text{
        font-weight: 600;
        font-size: 16px;

        i{
            color: blue;
            font-weight: 600;
            font-size : 16px;
        }

    }

    .event-statistics-button-session{
        a{
            padding: 7px 14px;
            display: inline-block;
            font-weight: 600;
            font-size: 12px;
            background: #302ac9db;
            color: white;
            border-radius: 37px;
            text-decoration: none;
            margin-right : 5px;
            margin-bottom : 5px;
        }

        a:hover{
            background: blue;
            cursor : pointer;
        }

        button {
            padding : 7px 10px;
            font-size : 12px;
            font-weight : 600;
            border-radius : 20px;
            background : #e2e6ea;
            margin-bottom : 5px;
        }

        button:hover{
            background : #e0e0e0;
        }
    }
}



