#email-of-user{
    font-weight : 600;
}

.faculty-and-society-incharge-session .profile-to-society-link .total-members-and-total-events-session .profile-incharge-name{
    font-size: 16px;
    text-align : left;
    font-weight : 600;
}

.faculty-and-society-incharge-session .profile-to-society-link .total-members-and-total-events-session .profile-role-of-person{
    font-size: 13px;
    font-weight : 500;

}

.profile-page-session-content-div .row .col-12{
    padding : 15px !important;
}